*{
    padding: 0;
    margin: 0;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #000000;
    align-items: center;
}

.logo{
    width: 9%;
    height: 6%;
    border-radius: 50%;
    margin: 0 0 0 20px;
}

.activo{
    color: white;
}


.navv{
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

.navv_lista, a{
    color: var(--first-color);
    padding: 5%;
    text-decoration: none;
    font-size: 120%;
}

.redes_esp{
    color: black;
}

.logo_red{
    font-size: 40px;
}

footer{
    text-align: center;
    background: url(../imgs/fondoFooter.png);
}

footer p{
    padding: 1%;
}