@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url(_variables.css);

*{
    margin: 0;
    padding: 0;
}

body{
    background: #333;
    font-family: 'Oswald', sans-serif;
    color: white;
}

header{
    background-color: #333;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo{
    filter:hue-rotate(155deg);
}

.titulo{
    font-family: 'Oswald', sans-serif;
    color: white;
}

nav{
    background-color:var(--color-nav);
}

.menu{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0.5%;
}

.menu li a {
    display: block;
    text-decoration: none;
    color: white;
}

.menu a:hover{
    color: rgb(89, 89, 91);
}

.submenu{
    display: none;
    position: absolute;
}

.menu li:hover .submenu{
    display: block;
    list-style: none;
    background-image: url(../img/poker.jpg);
    background-size: cover;
    padding: 0.5%
}

.submenu li:hover{
    color: rgb(89, 89, 91);     
}

.submenu li a{
    display: block;
}

.every{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.banner_estatico{
    display: flex;
    align-items: center;
    background-image: url(../img/banner3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: space-around;
    margin-top: 15px;
}

.titulo_banner{
    text-align: center;
    font-size: 300%;
    color: #39a900;
    padding: 20px;
}

.parrafo_banner{
    text-shadow: 0.5px 0.5px 0.5px #1c4505;
    font-size: 160%;
    color: #2e7b07;
    padding: 20px;
    margin-left: 5%;
}

/* .contenido{}

.articulo{} */

.contenido{
    display: table;
}

.contenido img{
    margin-top: 10px;
}

/* renderizar el contenido de las columnas */
.entidad{
    padding-top: 40px;
    display: table-cell;
    width: 66.6%;
    width: 700px;
    column-count: 2;
    column-gap: 50px;
}

.articulo h2{
    font-size: 2rem;

}

.img_aprendices{
    width: 100%;
}

h3{
    font-size: 150%;
    margin-bottom: 10px;
}

.linea_comentario {
    border: 1px solid #ccc;
    padding: 10px;
    width: 66.6%;
}

.comentarios a {
    text-decoration: none;
    color: #007bff;
}

.comentarios time {
    color: #888;
}

aside{
    display: table-cell;
    width: 100%;
    height: 100%;
    padding-left: 40px;
}
aside section{
    display: flex;
    flex-direction: column;
}
aside h3{
    text-align: center;
    font-size: 26px;
    font-family: 'Oswald', sans-serif; 
    padding: 10px 0 10px 0;
}
aside img{
    padding: 10px 0 10px 0;
}
aside a{
    text-decoration: none;
    color: #7e7468;
    padding: 10px 0 10px 0;
}
aside a:hover{
    color: black;
}

/* footer */


footer{
    display: flex;
    justify-content: space-around;
    position: absolute;
    margin-top: 50px;
    z-index: 2;
    left: 0;
    width: 100%;
    background: rgb(222, 222, 222);
    font-family: 'Victor Mono', monospace;
    padding-bottom: 20px;
}
.abajo{
    padding-top: 30px;
    align-content: center;
    padding-left: 80px;
}
.abajo section{
    display: table-cell;
    width: 300px;
    position: relative;
    padding-right: 100px;
}

.abajo section h3{
    color: #E3E3E3;
    font-size: 22px;
}

.abajo section p{  
    color: #E3E3E3;
    font-size: 18px;
}

.sec1{
    text-align: justify;
}
.abajo section a{
    color: black;
}

.abajo a:hover {
    text-decoration: none;
}

.abajo ul {
    margin: 0 0 0 40px;
    list-style: square;
    color: black;
}

.abajo ul li a {
    display: block;
}

.abajo section i{
    font-size: 40px;
    padding-right: 40px;
}

