@import url(_variables.css);

*{
    padding: 0;
    margin: 0;
}

.logoPrincipal{
    width: 100px;
    padding: 0.5%;
    margin: 0 0 0 2%;
}

nav ul{
    display: flex;
    background-color: var(--color-nav);
    justify-content: end;
}

nav li{
    list-style: none;  
    padding: 0.5%;
    margin: 0 1% 0 0;
}

nav a{
    text-decoration: none;
    color: white;
}

